<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Naive Bayes Classifier</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body{background-color: #D7FFF4}

        .NavBar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 21%;
            background-color: #b5ffea;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        .NavBar li a {
            text-align: center;
            display: block;
            color: #000;
            padding: 16px 20px;
            text-decoration: none;
        }

        .NavBar li a.active {
            background-color: #04AA6D;
            color: white;
        }

        .NavBar li a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

        .SideBySideRight {
            width: 100%;
            margin: auto;
        }

        .SideBySideRight img{
            float: right;
            padding: 0 10px 10px 0;
        }

        .SideBySideRight table{
            float: left;
            padding: 0 10px 10px 0;
        }

        .SideBySide {
            width: 100%;
            margin:auto;
        }

        .SideBySide img{
            float:left;
            padding:0 10px 10px 0;
        }

        .myinformation{
            width: 100%;
            height: 100%;
            margin-top: 98%;
            padding-bottom: 1%;
            padding-left: 84%;
            background-color: #eaeaea
        }

        .myname{
            padding-top: 10%;
        }
    </style>
</head>
<body>
<div class="NavBar">
    <ul>
        <li><a href="main.html">Main Page</a></li>
        <li><a href="DataSet.html">Dataset Learning</a></li>
        <li><a href="DataSetVisualization.html">Dataset Learning Visualization</a></li>
        <li><a href="TestTrain.html">Test-Train Split</a></li>
        <li><a href="KNearestNeighbours.html">K Nearest Neighbours</a></li>
        <li><a class="active" href="NaiveBayesClassifier.html">Naive Bayes Classifier</a></li>
        <li><a href="SupportVectorMachines.html">Support Vector Machines</a></li>
        <li><a href="LogisticRegression.html">Logistic Regression</a></li>
        <li><a href="RandomForest.html">Random Forest</a></li>
        <li><a href="DecisionTrees.html">Decision Trees</a></li>
        <li><a href="DecisionTreeRegression.html">Decision Tree Regression</a></li>
        <li><a href="SupportVectorRegression.html">Support Vector Regression</a></li>
        <li><a href="LinearRegression.html">Linear Regression</a></li>

        <footer style="text-align: center; margin-top: 2%;">
            <iframe src="https://free.timeanddate.com/clock/i7hdqgbf/n2238/tltr28/fn6/fs16/fc9ff/tc000/ftb/pa8/tt0/tw1/th1/tb4"
                    frameborder=0 width=75% height=20%></iframe>
        </footer>
    </ul>

</div>

<div style="margin-left:25%;padding:1px 16px;height:1000px;margin-bottom:15%">
    <h1 style="text-align: center">Diabetes Machine Learning Analysis</h1>
    <h2 style="text-align: center">Naive Bayes Classifier</h2>
    <hr><br>

    <p>Naive Bayes, Bayes Teoremine dayalı istatistiksel bir sınıflandırma tekniğidir. En basit denetimli öğrenme algoritmalarından biridir.
        Naive Bayes sınıflandırıcısı hızlı, doğru ve güvenilir bir algoritmadır. Naive Bayes sınıflandırıcıları, büyük veri kümelerinde yüksek
        doğruluk ve hıza sahiptir.</p>
    <p>Naive Bayes sınıflandırıcısı, bir sınıftaki belirli bir özelliğin etkisinin diğer özelliklerden bağımsız olduğunu varsayar. Örneğin, bir
        kredi başvurusunda bulunan kişi, gelirine, önceki kredi ve işlem geçmişine, yaşına ve bulunduğu yere bağlı olarak arzu edilir veya
        edilmez. Bu özellikler birbirine bağımlı olsa bile, bu özellikler yine de bağımsız olarak kabul edilir. Bu varsayım, hesaplamayı
        basitleştirir ve bu nedenle saf olarak kabul edilir. Bu varsayıma sınıf koşullu bağımsızlığı denir</p>
    <p>-> Daha önce normalleştirerek böldüğümüz veri setini Naive Bayes algoritmasında kullanmak üzere bir model eğitebiliriz. Böylece veri kümesi üzerinde
        tahminlerde bulunabiliriz.</p>
    <p>-> Daha sonra bu modeli puanlayabilmek için test veri kümesi üzerinden tahmmin oluşturuldu ve aşağıdaki doğruluk skoru elde edildi.</p>
    <ul>
        <li>Naive Bayes Sınıflandırıcı Doğruluk Puanı: 0.7792</li>
    </ul>
    <br>

    <h5>Naive Bayes Sınıflandırıcı Raporu:</h5>
    <p>-> Naive Bayes sınıflandırıcı algoritmasında hakkında aşağıda doğruluk, kesinlik, skor vs bildiren bir rapor elde edilmiştir.</p>
    <table style="width:70%">
        <tr>
            <th></th>
            <th>precision</th>
            <th>recall</th>
            <th>f1-score</th>
            <th>support</th>
        </tr>
        <tr>
            <td>0</td>
            <td>0.83</td>
            <td>0.86</td>
            <td>0.84</td>
            <td>107</td>
        </tr>
        <tr>
            <td>1</td>
            <td>0.65</td>
            <td>0.60</td>
            <td>0.62</td>
            <td>47</td>
        </tr>
        <tr>
            <td>accuracy</td>
            <td></td>
            <td></td>
            <td>0.78</td>
            <td>154</td>
        </tr>
        <tr>
            <td>macro avg</td>
            <td>0.74</td>
            <td>0.73</td>
            <td>0.73</td>
            <td>154</td>
        </tr>
        <tr>
            <td>weighted avg</td>
            <td>0.77</td>
            <td>0.78</td>
            <td>0.78</td>
            <td>154</td>
        </tr>
    </table>
    <br>

    <div class="SideBySideRight">
        <img style="width: 37%; height: 37%" src="images/NaiveBayes/Confusion_Matrix.png" alt="NB Confusion_Matrix">
        <br>

        <p style="margin-top: 4%;">-> Model üzerinden makine öğrenimi alanında ve özellikle istatistiksel sınıflandırma problemlerinde,
            hata matrisi olarak da bilinen bir Confusion Matrix (Karışıklık Matrisi) elde edildi.</p>

        <p>-> Yanda elde edilen Confusion Matrix özetini aşağıdaki gibi TP, TN, FP ve FN olarak teker teker yazdırıldı ve böylece bunlar
            üzerinden bazı sonuçlar elde edebilecektir.</p>
        <br>

        <table style="width:13%">
            <tr>
            <tr>
                <td>True Positives(TP):</td>
                <td>92</td>
            </tr>
            <tr>
                <td>True Negatives(TN):</td>
                <td>28</td>
            </tr>
            <tr>
                <td>False Positives(FP):</td>
                <td>15</td>
            </tr>
            <tr>
                <td>False Negatives(FN):</td>
                <td>19</td>
            </tr>
        </table>
        <br><br><br><br><br><br><br><br><br>
    </div>

    <p>-> Yukarıda elde edilen TP, TN, FP ve FN değerleri üzerinden doğruluk skoru ve error hesaplanmıştır. Formülü ve sonuçları aşağıda yer
        almaktadır.</p>
    <p>Accuracy: (TP + TN) / (TP + TN + FP + FN)</p>
    <ul>
        <li>Classification accuracy : 0.7792</li>
    </ul>
    <p>Error: (FP + FN) / (TP + TN + FP + FN)</p>
    <ul>
        <li>Classification error : 0.2208</li>
    </ul>

    <p>-> Daha önce elde edilen TP, TN, FP ve FN değerleriyle aşağıda yer alan precision, recal, true positive rate, false positive rate ve
        specificity değerleri elde edilmiştir. Formülleriyle beraber sonuçlar aşağıda yer almaktadır.</p>

    <div class="SideBySideRight">
        <table style="width:20%; margin-left: 10%">
            <tr>
                <td>Precision = TP / (TP + FP)</td>
            </tr>
            <tr>
                <td>Recall = TP / (TP + FN)</td>
            </tr>
            <tr>
                <td>True Positive Rate = TP / (TP + FN)</td>
            </tr>
            <tr>
                <td>False Positive Rate = FP / (FP + TN)</td>
            </tr>
            <tr>
                <td>Specificity = TN / (TN + FP)</td>
            </tr>
        </table>

        <table style="width:17%; margin-left: 10%">
            <tr>
                <td>Precision:</td>
                <td>0.8598</td>
            </tr>
            <tr>
                <td>Recall or Sensitivity:</td>
                <td>0.8288</td>
            </tr>
            <tr>
                <td>True Positive Rate:</td>
                <td>0.8288</td>
            </tr>
            <tr>
                <td>False Positive Rate:</td>
                <td>0.3488</td>
            </tr>
            <tr>
                <td>Specificity:</td>
                <td>0.6512</td>
            </tr>
        </table>
        <br><br><br><br><br><br><br>
    </div>

    <div class="SideBySideRight">
        <img style="width: 40%; height: 40%" src="images/NaiveBayes/outcome_tahmin_histogram.png" alt="outcome tahmin histogram">
        <br>

        <p style="margin-top: 2%;">-> Daha sonra X_test veri setinin iki sınıf tahmin edilen ilk 10 verisini sırlayarak diyabet hastası olan ve
            olmayanlar olarak iki gruba ayırtıldı. Sonra diyabet hastası olanların olasılıklarını elde ederek bunları başka bir yerde tuttuk ve bunun
            üzerinden bir öğrenim ve görselleştirme elde edildi.</p>
        <table style="width:17%; margin-left: 10%">
            <tr>
                <th></th>
                <th>Diabet(-)</th>
                <th>Diabet(+)</th>
            </tr>
            <tr>
                <td>0</td>
                <td>0.001187</td>
                <td>0.998813</td>
            </tr>
            <tr>
                <td>1</td>
                <td>0.951436</td>
                <td>0.048564</td>
            </tr>
            <tr>
                <td>2</td>
                <td>0.982796</td>
                <td>0.017204</td>
            </tr>
            <tr>
                <td>3</td>
                <td>0.318826</td>
                <td>0.681174</td>
            </tr>
            <tr>
                <td>4</td>
                <td>0.970706</td>
                <td>0.029294</td>
            </tr>
            <tr>
                <td>5</td>
                <td>0.992472</td>
                <td>0.007528</td>
            </tr>
            <tr>
                <td>6</td>
                <td>0.086003</td>
                <td>0.913997</td>
            </tr>
            <tr>
                <td>7</td>
                <td>0.018300</td>
                <td>0.981700</td>
            </tr>
            <tr>
                <td>8</td>
                <td>0.135392</td>
                <td>0.864608</td>
            </tr>
            <tr>
                <td>9</td>
                <td>0.617383</td>
                <td>0.382617</td>
            </tr>
        </table>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <div class="SideBySide">
        <img style="width: 45%; height: 45%" src="images/NaiveBayes/NB_ROC_Egrisi.png" alt="NB ROC Egrisi">
        <br>

        <p style="margin-top: 2%;">-> ROC Eğrisi, sınıflandırma modeli performansını görsel olarak ölçmek için kullanılan bir diğer araçtır. ROC Eğrisi,
            Alıcı Çalışma Özelliği Eğrisi anlamına gelir.</p>
        <p>-> Burada sınıflandırma modelinin çeşitli sınıflandırma eşik seviyelerinde performansını gösteren bir çizim görmekteyiz.</p>
        <p>-> TPR ve FPR karşılaştırmasıyla birlikte roc_curve kütüphanesi yardımıyla oluşturulan doğruluk oranı gösterilmiştir.</p>
        <br><br><br><br><br><br><br><br><br><br>
    </div>

    <p>-> Başta oluştuurlan model üzerinden K-Fold Cross Validaiton yaparak bir öngörü sisteminin pratikte hangi doğrulukla çalışılması gerektiğinin
        tespiti oluşturuldu.</p>
    <p>Cross-validation scores:[0.70967742 0.72580645 0.75806452 0.75806452 0.68852459 0.81967213 0.80327869 0.62295082 0.75409836 0.73770492]</p>
    <p>-> Buradan 10 katlı çapraz doğrulama tarafından üretilen 10 puanın tümüne bakarak, katlamalar arasındaki doğruluğun %81,96 ile %62,29
        arasında değiştiğini gözleyebilmek mümkündür.</p>
    <p>Daha sonra buradan aşağıda da yer alan bir doğruluk skorunu elde edildi.</p>
    <ul>
        <li>Ortalama cross-validation doğruluk skoru: 0.7378</li>
    </ul>
    <br>

    <p>-> Başta oluşturulan model doğruluğu 0.7792’tur, ancak ortalama çapraz doğrulama doğruluğu 0.7378'tür. Dolayısıyla, 10 kat çapraz doğrulama
        doğruluğu, bu model için performans artışı sağlamayacağı sonucuna varılmıştır.</p>

</div>

<footer class="myinformation">
    <h4 class="myname">Veli KÖSEOĞLU 190309015</h4>
</footer>
</body>
</html>